.description__container{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 12px;
    background-image: url(../images/lights.gif);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-weight: bolder;
}
.description__male__container{
    display: flex;
    max-height: 29.5rem;
}
.description__female__container{
    display: flex;
}
.description__img{
    flex: 2;
}
.description__img img{
    width:100%;
}

.description__list{
    flex: 1;
    margin-top: 0;
    background-color: black;
    opacity: .75;
    overflow: scroll;
}